# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SRC\IdeaProjects\ylkj-website\ylkj-user\ylkj-user\.idea/dataSources/
/dataSources.local.xml
