<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userResultMap" type="org.springblade.modules.system.entity.User">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="idCard" property="idCard"/>
        <result column="role_id" property="roleId"/>
        <result column="dept_id" property="deptId"/>
        <result column="usertype_id" property="usertypeId"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="opening_time" property="openingTime"/>
        <result column="expiration_time" property="expirationTime"/>
        <result column="last_time" property="lastTime"/>
    </resultMap>

    <!--自定义分页-->
    <select id="selectUserPage" resultMap="userResultMap">
        select * from tb_user
        <where>
            <if test="user.phone!=null and user.phone != ''">
                <bind name="phone" value="'%' + _parameter.user.phone + '%'"/>
                phone like #{phone}
            </if>
            <if test="user.email!=null and user.email != ''">
                <bind name="email" value="'%' + _parameter.user.email + '%'"/>
                and email like #{email}
            </if>
            <if test="user.name!=null and user.name != ''">
                <bind name="name" value="'%' + _parameter.user.name + '%'"/>
                and name like #{name}
            </if>
            <if test="deptIdList!=null and deptIdList.size>0">
                and dept_id in
                <foreach collection="deptIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <!--    导出用户数据-->
    <select id="exportUser" resultType="org.springblade.modules.system.Excel.UserExcel">
        SELECT id,
               name,
               real_name,
               idcard,
               email,
               phone,
               role_id,
               dept_id
        FROM tb_user ${ew.customSqlSegment}
    </select>
<!--    登录认证-->
    <select id="login" resultMap="userResultMap">
        SELECT
            *
        FROM
            tb_user
        WHERE
            (email=#{param1} OR phone=#{param1}) AND password=#{param2} and status = 0 and is_deleted=0
    </select>

</mapper>
